:root {
--light: #fff;
--dark: #000;
}

/* Element styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.7rem;
}
/* ID styles */
#history-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#history-header h5 {
  margin-left: 5px;
}

/* Class styles */
.clear-history, .clear-history:hover, .clear-history:focus, .clear-history:visited{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.clear-history:hover{
  color: #0056b3;
}

.empty-list{
  padding-left: 5px;
  font-size: .95rem;
  color: #666;
}

.weather-container {
    border-radius: .25rem;
    background-color: #fff;
}

.weather-container, .forecast {
    display: block;
    padding: .75rem 1.25rem;
}

.weather-container p {
  margin-bottom: 1.4rem;
}

.weather-container .badge {
  font-size: .9rem;
  font-weight: normal;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  flex: 0 0 calc(20% - 10px);
  margin: 5px;
  border: none;
}

.card-title {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image {
  display: inline-block;
  width: 45px;
}

.btn i, .city-list .list-group-item {
  cursor: pointer;
}

.city-list .list-group-item:hover {
  background-color:#f8df95;
}

.city-list .list-group-item:active {
  background-color :#ffc107;
  color: var(--dark);
}

.city-list .list-group-item:nth-child(2){
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.bold {
  font-weight: bold;
}

.alert{
  line-height: 1.4;
}

/* Media queries */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .card-container .card {
    flex: 0 0 calc(33.333% - 10px);
  }
}
@media screen and (max-width: 768px) {
  .card-container .card {
     flex: 0 0 calc(100% - 10px);
  }
}


