:root {
--light: #fff;
--dark: #000;
}

/* Element styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.7rem;
}

header h1 {
 background-color: #38ABD4;
 border-bottom: 1px dotted #B0E1F2;
}

main {
  background: linear-gradient(#38ABD4, #B0E1F2);
  color: var(--light);
}

.forecast h2 {
  border-top: 1px dotted #B0E1F2;
}

.forecast h2:empty {
  border-top: none;
}

/* ID styles */
#history-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#history-header h5 {
  margin-left: 5px;
}

#todaysDate {
  color: #f0f0f0;
}

#cityName{
  font-size: 2rem;
  font-weight: bold;
}

#temperature{
  font-size: 3rem;
}

/* Class styles */
.bg-search{
  background-color: #b1eaff;
}

.clear-history, .clear-history:hover, .clear-history:focus, .clear-history:visited{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.clear-history:hover{
  color: #0056b3;
}

.empty-list{
  padding-left: 5px;
  font-size: .95rem;
  color: #666;
}

.weather-container {
    border-radius: .25rem;
}

.weather-container, .forecast {
    display: block;
    padding: .05rem 1.25rem;
}

.weather-container .badge {
  font-size: .9rem;
  font-weight: normal;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  flex: 0 0 calc(20% - 10px);
  margin: 5px;
  border: none;
  background-color: transparent;
}

.card-title {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.temperature {
  font-size: 1.5rem;
}

.card-image {
  display: inline-block;
  width: 60px;
  vertical-align: bottom;
}

.weather-container .card-image{
  width: 60px;
}

.btn i, .city-list .list-group-item {
  cursor: pointer;
}

.city-list .list-group-item:hover {
  background-color:#f8df95;
}

.city-list .list-group-item:active {
  background-color :#ffc107;
  color: var(--dark);
}

.city-list .list-group-item:nth-child(2){
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.list-group-item .fas{
  float: right;
}

.badge{
  border: 1px solid transparent;
}

.badge-warning, .badge-danger, .badge-success{
  border-color: var(--light);
}

.bold {
  font-weight: bold;
}

.alert{
  line-height: 1.4;
}

/* Media queries */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .card-container .card {
    flex: 0 0 calc(33.333% - 10px);
  }
}
@media screen and (max-width: 768px) {
  .card-container .card {
     flex: 0 0 calc(100% - 10px);
  }
}


